# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.test
.env.local
.env.development.local
.env.production.local

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Build directories
dist/
build/

# Optional npm cache directory
.npm/

# Coverage directory used by tools like istanbul
coverage/

# Output of 'npm pack'
*.tgz

# Debug
node-inspector.js

# Parcel-bundler cache
.cache/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache
